/* GLOBAL STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}
.container{
    width: 1248.87px;
    margin: 0 auto;
}
/* btn */
.universal__btn {
    padding: 13px 40px;
    border-radius: 50px;
    border: none;
    /* background: linear-gradient(#64BB47, #2C9553); */
    /* linear gradient hover holatida bug hosil qilgani uchun foydalanilmadi */
    background-color: #2C9553;
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    line-height: 32.21px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: block;
}
.universal__btn:hover {
    background: #494949;
    transform: scale(0.9);
}

img:hover{
    transition: all .3s ease-in;
    transform: scale(1.05);
}
h2 {
    font-size: 54px;
    line-height: 67.5px;
    font-weight: 500;
    color: #151414 ;
}
h2:hover{
    color: #5FB848;
}
/* GLOBAL STYLES END */

/* *********************** */

/* HEADER START */
header{
    z-index: 9999;
    position: relative;
    position: fixed;
    top: 0; 
    left: 215.565px; 
    background-color: #ffffff8d;
    backdrop-filter: blur(10px);
}
header .navbar {
    margin-top: 40px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .navbar .logo{
    cursor: pointer;
}
header .navbar .list{
    list-style-type: none;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 150px;
}
header .navbar .list .list__item{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.84px;
    color: #2C3847;
}
header .navbar .list .list__item:hover{
    color: #96bc8d;
    cursor: pointer;
}
header .navbar .list .active__page{
    font-weight: 500;
    color: #5FB848;
}
header .icon__btn {
    display: flex;
    align-items: center;
    gap: 60px;
}
header .icon__btn .left{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .icon__btn .left img{
    transition: all 0.3s;
}
header .icon__btn .left img:hover{
    transform:scale(1.25);
    cursor: pointer;
}

/* HEADER END */


/* *********************** */

/* MAIN START */

/* Intro section start */

#intro {
    padding-top: 200px;
}
#intro .wrapper{
    display: flex;
    padding-bottom: 199px;
}
#intro .wrapper .left, .right{
    width: 50%;
}
#intro .wrapper .left .intro__title{
 font-weight: 500;
 font-size: 76px;
 line-height: 95px;
 color: #181D19;
}
#intro .wrapper .left .intro__title .green{
 color: #5FB848;
}
#intro .wrapper .left .intro_description{
 font-weight: 400;
 font-size: 24px;
 line-height: 34px;
 color: #181D19;
 margin: 30px 0 50px 0;
}

#intro .wrapper .right {
    position: relative;
}
#intro .wrapper .right img{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -50px;
    margin-top: -50px;
}

#intro .wrapper .right .leaf__3{
    width: 786px;
    height: 690px;
    object-fit: contain;
}
#intro .wrapper .right .plate{
    top: -35px;
    right: 20px;
    width: 750px;
    object-fit: contain;
}

/* Intro section end */


/* Choose section start */
#choose .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

#choose .wrapper .choose__description{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #3B433E;
    margin: 15px 0 62px 0;
}
#choose .wrapper .borderless__cards{
    display: flex;
    gap: 100px;
    margin: 60px 0;
}
#choose .wrapper .borderless__cards .b__card{
    width: 270px;
    height: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#choose .wrapper .borderless__cards .b__card img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}
#choose .wrapper .borderless__cards .b__card .b__card-title{
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    color: #181D19;
    margin: 36px 0 16px 0;
}
#choose .wrapper .borderless__cards .b__card .b__card-text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #181D19;
    margin: 36px 0 16px 0;
}
#choose .wrapper .statistics__cards{
    display: flex;
    width: 701px;
    align-items: center;
    justify-content: space-between;
}
#choose .wrapper .statistics__cards .s__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choose .wrapper .statistics__cards .s__card h2{
    font-weight: 600;
    font-size: 44px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 20px;
}
#choose .wrapper .statistics__cards .s__card p{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #545454;
    margin-bottom: 20px;
}
/* Choose section end */


/* About section start */
#about .wrapper {
    display: flex;
    gap: 95px;
}
#about .wrapper .left{
    width: 43%;
}
#about .wrapper .left .about__description{
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin: 30px 0 68px 0;
}
#about .wrapper .right{
    width: 57%;
    display: flex;
    gap: 20px;
}
#about .wrapper .right img{
    transition: all .3s ease-out;
}
#about .wrapper .right img:hover{
    transform: scale(1.05);
}
#about .wrapper .right .double img{
    width: 310px;
    height: 323px;
}
#about .wrapper .right .double{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#about .wrapper .right .tall__img{
    margin-top: 52px;
}

/* About section end */


/* Fresh section start */
#fresh {
    padding: 120px 0 80px 0;
}
#fresh .wrapper {
    display: flex;
    justify-content: space-between;
}
#fresh .wrapper .right .fresh__description{
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    color: #181D19;
    margin: 30px 0 40px 0;
}
/* Fresh section end */

/* Chefs section start */
#chefs .wrapper {
    display: flex;
    gap: 100px;
}
#chefs .wrapper .left{
    width: 45%;
}
#chefs .wrapper .left{
    width: 55%;
}
#chefs .wrapper .left .chefs__description{
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    color: #181D19;
    margin: 30px 0;
}
#chefs .wrapper .left .checked__lines{
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #181D19;
}
#chefs .wrapper .left .checked__lines .checked__line img:hover{
    box-shadow: 0.1px 0 0.9px #2C3847;
}
/* Chefs section end */

/* Dishes section start */
#dishes{
    padding: 120px 0 0;
    text-align: center;
}
#dishes .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dishes .wrapper .dishes__description{
    color: #3B433E;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 15px 0 60px 0;
}
#dishes .wrapper .cards{
    display: flex;
    gap: 51px;
    justify-content: center;
}


/* Food card */
#dishes .card {
    width: 356px;
    height: 520px;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
}
#dishes .card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -20px, rgba(0, 0, 0, 0.3) 0px 20px 30px -30px;
}
#dishes .card .card__image {
    margin: 50px 53px 27px;
    width: 250px;
    height: 250px;
}
#dishes .card .card__image:hover {
    transform:rotate(360deg);
}
#dishes .card .card__body .body__title{
    color: #181D19;
    font-weight: 500;
    font-size: 30px;
    line-height: 37.5px;
    text-align: center;
}
#dishes .card .card__body .body__text{
    text-align: center;
    margin: 20px 23px 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7e8480;
}

#dishes .wrapper .universal__btn {
    margin: 60px 0 120px 0;
}
/* Dishes section end /


/* Says section start*/
#says{
    text-align: center;
    background-color: #FCFCFC;
    padding: 70px 0;
}

#says .wrapper .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
    margin-top: 47px;
}
#says .wrapper .card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 
    0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#says .wrapper .card {
    width: 514px;
    height: 347px;
    background-color: #fff;
    padding: 25px;
}
#says .wrapper .card .mini__container{
    display: flex;
    justify-content: space-between;

}
#says .wrapper .card .card__profile{
    display: flex;
    align-items: center;
    gap: 37px;
}
#says .wrapper .card .card__profile .profile__name{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#says .wrapper .card .card__desc{
    font-size: 18px;
    line-height: 30px;
    color: #181D19;
    text-align: start;
    margin-top: 32px;
}
#says .wrapper .arrows {
    margin: 50px 0 70px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#says .wrapper .arrows img:hover {
    fill: #2C9553;
    transform: scaleX(1.3);
}

/* Says section end */

/* Newsletter section start */
#newsletter {
    position: relative;
    padding: 120px 0 150px 0;
}
#newsletter .wrapper{
    width: 629px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#newsletter .wrapper .newsletter__title{
    font-size: 36px;
    line-height: 45px;
    font-weight: 500;
    color: #151414;
}
#newsletter .wrapper .newsletter_desc{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #3B433E;
    margin: 15px 0 60px 0;
}
#newsletter .wrapper .inputer{
    display: flex;
    gap: 15px;
}
#newsletter .wrapper .inputer input{
    width: 330px;
    border-radius: 165px;
    padding: 20px;
    border: 1.5px solid #F5F5F5;
}
#newsletter .wrapper .inputer input:hover{
    border: 1.5px solid #8A8A8A;
}
#newsletter .wrapper .inputer input::placeholder{
    color: #8A8A8A;
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 400;
}
#newsletter .wrapper .inputer input:hover::placeholder{
    color: #3a3737;
}
/* Newsletter section end */

/* MAIN END */


/* *********************** */

/* FOOTER START */
footer {
    background-color: #FCFCFC;
}
footer .wrapper {
    padding: 114px 0;
    display: flex;
    gap: 151px;
}
footer .wrapper .left{
    width: 30%;
}
footer .wrapper .left .left__desc{
    font-size: 16px;
    line-height: 20px;
    color: #657582;
    margin-top: 34px;
}
footer .wrapper .right{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
footer .wrapper .right .list{
    list-style-type: none;
}
footer .wrapper .right .list .list__item {
    margin-bottom: 12px;
}
footer .wrapper .right .list .list__item a{
    text-decoration: none;
    color: #657582 ;
    font-size: 16px;
    line-height: 20px;
}
footer .wrapper .right .list .list__item a:hover{
    color: #2C3847;
}
footer .wrapper .right .list .bold {
    color:#2C3847;
    font-weight: 600;
    font-size: 22px;
    line-height: 27.5px;
    margin-bottom: 20px;
}
footer .copyright {
    height: 60px;
    color: #fff;
    background-image: linear-gradient(#64BB47, #2C9553);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER END */

/* Top anchor */
#top a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
}
#top {
    position: absolute;
    right: 0;
    width: 100px;
    height: 40px;
    background-color:#07b948;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#top:hover{
    background-color: #7bdb9e;
}





















